# The requirements, without a version number, hopefully that works
pandas==2.0.3
scipy==1.11.1
numpy==1.25.2
astropy==5.3.1
wget==3.2
tqdm==4.65.0
colorlog==6.7.0
emcee==3.1.4
pybtex==0.24.0
flex-format==0.2.18
plotly==5.15.0
matplotlib==3.7.2
# Development Requirements
pre-commit==3.3.3
sphinx==5.3.0
pytest==7.2.0
requests==2.28.1
